# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Databricks notebook files
.ipynb_checkpoints/
*.dbc/

# Databricks notebook files
.ipynb_checkpoints/
*.dbc/

# Databricks workspace files
/.local-dbfs/
/.tmp/
/.jobs/
/.databricks-connect/
/.databricks/
/.dbx/

# Databricks configuration files
/.databrickscfg

# Databricks output files
/_delta_log/